.homepane{
    text-align: left;
    margin-top: 30px;
   
    padding-right: 10px;
    position: relative;
    width: 100%;
    height: 100%;
}

.rowlist {
    position: relative;
    overflow-y: auto;
    height: -moz-calc(100vh - 350px);
    height: -webkit-calc(100vh - 350px);
    height: calc(100vh - 350px);
}

.buttonWrapper
{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    padding-left: 20px;
}

.navbutton 
{
    margin-right: 10px;
}

