.homepane{
    text-align: left;
    margin-top: 30px;
    padding-right: 10px;
    position: relative;
    width: 100%;
    height: -moz-calc(100vh - 210px);
    height: -webkit-calc(100vh - 210px);
    height: calc(100vh - 210px);
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.rowlist {
    position: relative;
    overflow-y: auto;
   
    display: block;
}

.buttonWrapper
{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    padding-left: 20px;
    min-height: 30px !important;
}

.navbutton 
{
    margin-right: 10px;
}

